* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 5px;
    overflow: auto;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex-direction: column;
}

.header {
    padding: 0 20px;
    line-height: 30px;
    height: 70px;
}

.header h1 a {
    cursor: pointer;
}

#appsmenu {
    display: none;
    position: absolute;
    background-color: #FFF;
    border: 1px solid #ffa500;
    border-radius: 0 0 5px 5px;
    flex-direction: column;
    margin-top: -3px;
    border-top: none;
}
#appsmenu a {
    display: block;
    margin-bottom: 2px;
    padding: 0 10px;
    text-decoration: none;
    color: #000000AA;
}

#appsmenu a.current {
    color: #000000DD;
    font-weight: 800;
    cursor: default;
}

#appsmenu a:hover, #appsmenu a:active, #appsmenu a:focus {
    background-color: #ffa50066;
}

#appsmenu.shown {
    display: inline-flex;
}

.content {
    width: 100%;
    flex-grow: 5;
    border-color: blue;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: calc(100vh - 72px);
}

.content>div {
    border: 1px solid #ffa500;
    height: 100%;
}

.chats-list {
    width: 15%;
    display: flex;
    flex-direction: column;
}

.chats-list-title {
    font-weight: bold;
    background-color: blanchedalmond;
    padding: 7px 5px;
}

.chats-list>button {
    width: 100%;
    margin: 7px 0;
}

#chatslist {
    flex-grow: 10;
}

li.chat-item {
    display: flex;
    margin: 2px 0;
}

li.chat-item button {
    border: none;
    font: 20px 'trebuchet MS', 'lucida sans';
    background: #DDD;
    color: #444;
    border-radius: 0.3em;
    padding: 0 0.4em;
}

.chats-list ul a {
    display: block;
    padding: 5px;
    background-color: antiquewhite;
    border: 1px solid rgb(197, 179, 155);
    border-radius: 3px;
    cursor: pointer;
    margin-right: 3px;
    flex-grow: 5;
}

.chats-list ul li.current-chat a {
    border: 1px solid rgb(168, 142, 103);
    background-color: rgb(250, 209, 149);
    cursor: default;
}

.chats-list ul a:hover {
    border: 1px solid rgb(99, 83, 60);
    background-color: rgb(209, 165, 99);
}

.chat-messages {
    display: flex;
    flex-direction: column;
    width: 35%;
}


.chat-messages .message-footer {
    position: relative;
    margin-top: 10px;
    min-height: 23px;
    text-align: right;
    vertical-align: bottom;
}

.chat-messages .message-footer small {
    position: absolute;
    display: inline-block;
    background-color: #FFF;
    padding: 5px;
    border-radius: 0 10px 10px 0;
    left: -10px;
    font-size: 66%;
    bottom: -5px;
}

.chat-messages .message-footer button {
    font: 15px 'trebuchet MS', 'lucida sans';
    background: #DDD;
    color: #444;
    text-decoration: none;
    border-radius: 0.3em;
    border: none;
    padding: 0.2em 0.4em;
    transition: all .3s ease-out;
}

.chat-messages .message-footer button:hover,
.chat-messages .current-content .message-footer button {
    background: #FFF;
    margin-right: -10px;
    border-radius: 0.3em 2em 2em 0.3em;
}

.chat-messages .current-content {
    box-shadow: 0 0 5px #00000033;
    border: 1px solid orange;
}

.chat-messages .current-content .message-footer button {
    margin-right: -15px;
}

#chatmessages {
    flex-grow: 10;
}

#message {
    width: 100%;
    margin-right: 3px;
}

.chat-messages li {
    white-space: pre-wrap;
    border-radius: 10px;
    background-color: lightgreen;
    margin: 10px 40px;
    padding: 10px;
    border: 1px solid transparent;
}

.chat-messages li.user {
    margin-left: 0;
}

.chat-messages li.response {
    margin-right: 0;
    background-color: lightgray;
}

.chat-messages li.instructions {
    background-color: rgb(237 211 143 / 63%)
}
.chat-messages li.error {
    margin-right: 0;
    background-color: lightcoral;
}

.chat-messages form {
    display: flex;
    padding: 2px 5px 5px 5px;
}

.content-preview {
    white-space: pre-wrap;
    width: 50%;
    padding: 15px;
    overflow: auto;
}